In [1]:
import pandas as pd
from random import randint
from datetime import datetime, date, timedelta

In [10]:
mxdate = date(2007, 12, 31)
mndate = date(2004, 1, 1)
diff = (mxdate - mndate).days
eleves_2info = [
    ('Mazzez', 'Adem', 'M'),
    ('Lajmi', 'Eya', 'F'),
    ('Ben Moussa', 'Ahmed', 'M'),
    ('Lajmi', 'Isra', 'F'),
    ('Kassouma', 'Mohamed Amine', 'M')
]

In [11]:
eleves = []
eleves_count = 0
for nom, prenom, genre in eleves_2info:
    eleves_count += 1
    eleve = {
        'numel': f"E{eleves_count:03}",
        'nom': nom,
        'prenom': prenom,
        'genre': genre,
        'datenaiss': str(mndate + timedelta(days=randint(0, diff)))
    }
    eleves.append(eleve)
eleves[-5:]

[{'numel': 'E001',
  'nom': 'Mazzez',
  'prenom': 'Adem',
  'genre': 'M',
  'datenaiss': '2007-04-27'},
 {'numel': 'E002',
  'nom': 'Lajmi',
  'prenom': 'Eya',
  'genre': 'F',
  'datenaiss': '2006-12-18'},
 {'numel': 'E003',
  'nom': 'Ben Moussa',
  'prenom': 'Ahmed',
  'genre': 'M',
  'datenaiss': '2006-08-20'},
 {'numel': 'E004',
  'nom': 'Lajmi',
  'prenom': 'Isra',
  'genre': 'F',
  'datenaiss': '2004-11-29'},
 {'numel': 'E005',
  'nom': 'Kassouma',
  'prenom': 'Mohamed Amine',
  'genre': 'M',
  'datenaiss': '2006-10-15'}]

In [12]:
mxdate = date(2006, 12, 31)
mndate = date(2005, 1, 1)
diff = (mxdate - mndate).days
eleves_3info = [
    ('Ben Hmida', 'Adem', 'M'),
    ('Ben Massoud', 'Amal', 'F'),
    ('Jedidi', 'Ayhme', 'M'),
    ('Gaaloul', 'Abrar', 'F'),
    ('Garzoul', 'Raslène', 'M')
]

In [13]:
for nom, prenom, genre in eleves_3info:
    eleves_count += 1
    eleve = {
        'numel': f"E{eleves_count:03}",
        'nom': nom,
        'prenom': prenom,
        'genre': genre,
        'datenaiss': str(mndate + timedelta(days=randint(0, diff)))
    }
    eleves.append(eleve)
eleves[-5:]

[{'numel': 'E006',
  'nom': 'Ben Hmida',
  'prenom': 'Adem',
  'genre': 'M',
  'datenaiss': '2005-09-10'},
 {'numel': 'E007',
  'nom': 'Ben Massoud',
  'prenom': 'Amal',
  'genre': 'F',
  'datenaiss': '2006-05-05'},
 {'numel': 'E008',
  'nom': 'Jedidi',
  'prenom': 'Ayhme',
  'genre': 'M',
  'datenaiss': '2006-02-18'},
 {'numel': 'E009',
  'nom': 'Gaaloul',
  'prenom': 'Abrar',
  'genre': 'F',
  'datenaiss': '2006-02-24'},
 {'numel': 'E010',
  'nom': 'Garzoul',
  'prenom': 'Raslène',
  'genre': 'M',
  'datenaiss': '2006-03-10'}]

In [14]:
def insert_statement(table, arr):
    return (f"INSERT INTO {table} (" + 
      ", ".join(arr[0].keys()) + 
      ")\nVALUES (" + 
      "),\n\t(".join(','.join("'" + str(val) + "'" for val in item.values()) for item in arr) + ");")

In [15]:
print(insert_statement('Eleves', eleves))

INSERT INTO Eleves (numel, nom, prenom, genre, datenaiss)
VALUES ('E001','Mazzez','Adem','M','2007-04-27'),
	('E002','Lajmi','Eya','F','2006-12-18'),
	('E003','Ben Moussa','Ahmed','M','2006-08-20'),
	('E004','Lajmi','Isra','F','2004-11-29'),
	('E005','Kassouma','Mohamed Amine','M','2006-10-15'),
	('E006','Ben Hmida','Adem','M','2005-09-10'),
	('E007','Ben Massoud','Amal','F','2006-05-05'),
	('E008','Jedidi','Ayhme','M','2006-02-18'),
	('E009','Gaaloul','Abrar','F','2006-02-24'),
	('E010','Garzoul','Raslène','M','2006-03-10');

In [16]:
the_classes = [
    (1, 'S', 1),
    (1, 'S', 2),
    (2, 'INFO', 1),
    (2, 'INFO', 2),
    (3, 'INFO', 1)
]

In [17]:
classes = []
classes_count = 0
for niveau, section, numord in the_classes:
    classes_count += 1
    classe = {
        'numcl': f"C{classes_count:03}",
        'libelle': f"{niveau}{section}{numord}",
        'niveau': niveau,
        'section': section,
        'numord': numord
    }
    classes.append(classe)
classes

[{'numcl': 'C001', 'libelle': '1S1', 'niveau': 1, 'section': 'S', 'numord': 1},
 {'numcl': 'C002', 'libelle': '1S2', 'niveau': 1, 'section': 'S', 'numord': 2},
 {'numcl': 'C003',
  'libelle': '2INFO1',
  'niveau': 2,
  'section': 'INFO',
  'numord': 1},
 {'numcl': 'C004',
  'libelle': '2INFO2',
  'niveau': 2,
  'section': 'INFO',
  'numord': 2},
 {'numcl': 'C005',
  'libelle': '3INFO1',
  'niveau': 3,
  'section': 'INFO',
  'numord': 1}]

In [18]:
print(insert_statement('Classes', classes))

INSERT INTO Classes (numcl, libelle, niveau, section, numord)
VALUES ('C001','1S1','1','S','1'),
	('C002','1S2','1','S','2'),
	('C003','2INFO1','2','INFO','1'),
	('C004','2INFO2','2','INFO','2'),
	('C005','3INFO1','3','INFO','1');

In [19]:
classes_eleves = [
    {'annee': 2021, 'numel': 'E001', 'numcl': 'C001'},
    {'annee': 2021, 'numel': 'E002', 'numcl': 'C002'},
    {'annee': 2021, 'numel': 'E003', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E004', 'numcl': 'C002'},
    {'annee': 2021, 'numel': 'E005', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E006', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E007', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E008', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E009', 'numcl': 'C003'},
    {'annee': 2021, 'numel': 'E010', 'numcl': 'C003'},
    {'annee': 2022, 'numel': 'E001', 'numcl': 'C004'},
    {'annee': 2022, 'numel': 'E002', 'numcl': 'C004'},
    {'annee': 2022, 'numel': 'E003', 'numcl': 'C004'},
    {'annee': 2022, 'numel': 'E004', 'numcl': 'C004'},
    {'annee': 2022, 'numel': 'E005', 'numcl': 'C004'},
    {'annee': 2022, 'numel': 'E006', 'numcl': 'C005'},
    {'annee': 2022, 'numel': 'E007', 'numcl': 'C005'},
    {'annee': 2022, 'numel': 'E008', 'numcl': 'C005'},
    {'annee': 2022, 'numel': 'E009', 'numcl': 'C005'},
    {'annee': 2022, 'numel': 'E010', 'numcl': 'C005'},
]

In [20]:
print(insert_statement('ClassesEleves', classes_eleves))

INSERT INTO ClassesEleves (annee, numel, numcl)
VALUES ('2021','E001','C001'),
	('2021','E002','C002'),
	('2021','E003','C003'),
	('2021','E004','C002'),
	('2021','E005','C003'),
	('2021','E006','C003'),
	('2021','E007','C003'),
	('2021','E008','C003'),
	('2021','E009','C003'),
	('2021','E010','C003'),
	('2022','E001','C004'),
	('2022','E002','C004'),
	('2022','E003','C004'),
	('2022','E004','C004'),
	('2022','E005','C004'),
	('2022','E006','C005'),
	('2022','E007','C005'),
	('2022','E008','C005'),
	('2022','E009','C005'),
	('2022','E010','C005');